:root {
  --primary-color: #0069f6;
  --primary-light-color: #d1e4fd;
  --background-color: #fff;
}

html,
body {
  font-family: sans-serif;
  padding: 0;
  color: var(--primary-color);
  margin: 32px;
}

button {
  color: var(--primary-color);
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  padding: 8px 20px;
  margin-right: 12px;
  margin-bottom: 12px;
}

button:hover {
  color: var(--background-color);
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
}

.event-container,
.grid-4-2-1 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.event-view {
  border: 1px solid var(--primary-light-color);
  padding: 8px;
}

.footer {
  margin-top: 32px;
  padding-top: 12px;
  border-top: 1px solid var(--primary-light-color);
}

@media (width <= 1440px) {
  .grid-4-2-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 1024px) {
  .grid-4-2-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}